<div class="container">
    <div class="about">
            <div class="about-text">
                <h2 class="about-text__headline title"><span>Расскажем вам немного о себе</span></h2>
                <p class="about-text__subheading subtitle">Мы ценим ваше время, по этому мы постараемся
                        рассказать о <span class="selected-text">главном вкратце!</span></p>
                </div>
                <div class="about-main">
                        <img class="about-main__image" src="/images/Лампочка.png" alt="lamp">
                    <div class="about-main__text">
                        <p class="about-main__description">Наша компания была основана в 2015 году, название ей «ЭлипсЛед». 
                        Занимаемся мы производством светильников для животноводства </p>
                        <p class="about-main__description">
                            <span>2</span>Работаем мы исключительно на собственном оборудовании и только с качественным сырьем.</p>
                        <p class="about-main__description">
                            <span>3</span>С помощью команды наших специалистов
                        <br> мы смогли добиться одного из самых высоких уровней качества светодиодных светильников
                        <br> для свиноводства, КРС, выращивания грибов!</p></div>
                </div>
            </div>
        </div>
    </div>
