<div class="container">
  <div class="header">
    <div class="header-navbar">
      <div class="header-navbar__logo">
        <img src="./images/Логотип.png" alt="Logo" />
      </div>
      <div class="header-navbar__menu">
        <a class="header-navbar__links" href="">Главная</a
        ><a class="header-navbar__links" href="">Нам доверяют</a
        ><a class="header-navbar__links" href="">Фотографии</a
        ><a class="header-navbar__links" href="">Сертификаты</a
        ><a class="header-navbar__links" href="">Где нас найти?</a>
      </div>
      <div class="header-navbar__phone"><strong>89152543992</strong></div>
      <button class="header-navbar__btn">
        <span></span><span></span><span></span>
      </button>
    </div>
    <div class="header-main">
      <div class="header-text">
        <h1 class="header-text__headline title">
          <span>
            У нас вы найдете лучшие светодиодные лампы для животоводства</span
          >
        </h1>
        <p class="header-text__subheading subtitle">
          Оставьте нам свой номер, <br />
          и получите <span class="selected-text">бесплатный</span> рассчет
          специально для вас!
        </p>
      </div>
      <div class="header-form">
        <input
          class="header-form__input"
          type="text"
          placeholder="7 (ххх) ххх хх хх"
        />
        <button class="header-form__button">Отправить</button>
      </div>
      <img
        class="header-main__image"
        src="./images/cow.png"
        alt="cow and lamp"
      />
    </div>
  </div>
</div>
