<div class="container">
  <div class="partners">
    <div class="partners-text">
      <h2 class="partners-text__headline title">
        <span>Наши партнеры по бизнесу</span>
      </h2>
      <p class="partners-text__subheading subtitle">
        Хотим рассказать вам <br />
        с кем мы сотрудничаем, и кто нам
        <span class="selected-text">доверяет</span>
      </p>
    </div>
    <div class="partners-logo">
      <div class="partners-logo__img">
        <img
          class="partners-logo__images"
          src="./images/останкино.png"
          alt="Останкино"
        />
      </div>
      <div class="partners-logo__img">
        <img
          class="partners-logo__images"
          src="./images/мираторг.png"
          alt="Мираторг"
        />
      </div>
      <div class="partners-logo__img">
        <img
          class="partners-logo__images"
          src="./images/Агро-Белогорье.png"
          alt="Агро-Белогорье"
        />
      </div>
      <div class="partners-logo__img">
        <img
          class="partners-logo__images"
          src="./images/русагро.png"
          alt="Русагро"
        />
      </div>
      <div class="partners-logo__img">
        <img
          class="partners-logo__images"
          src="./images/космос.png"
          alt="Космос"
        />
      </div>
      <div class="partners-logo__img">
        <img
          class="partners-logo__images"
          src="./images/Промагро.png"
          alt="Промагро"
        />
      </div>
    </div>
  </div>
</div>
